// Footer
footer.footer-nav.pt-5.pb-5.mb-5
	.container
		.row
			.col-12.mb-4.col-md-6.col-lg-4.mb-lg-0.col-xl-3.offset-xl-1
				.d-flex.flex-column.justify-content-between.h-100
					.logo.mb-3
						img(src="./images/logo.svg", alt="logo")
					p 2020 All rights reserved
			.col-12.mb-4.col-md-6.col-lg-4.mb-lg-0
				.d-flex.flex-column.justify-content-between.h-100.pl-xl-4
					p.mb-3 Trandy Shania Street 21 <br/>55555 Carmenito Stylish <br/>Porto, Portugal
					.social-icons
						a(href="http://twitter.com").social-icon
							i(class="fa fa-twitter")
						a(href="http://facebook.com").social-icon
							i(class="fa fa-facebook")
						a(href="http://linkedin.com").social-icon
							i(class="fa fa-linkedin")
						a(href="http://instagram.com").social-icon
							i(class="fa fa-instagram")
			.col-12.col-md-6.col-lg-4.col-xl-3
				.d-flex.align-items-center.mb-3
					img(src="./images/common/phone-icon.png", class="pr-2" alt="icon")
					a(href="tel:+382365456987").p.link-hover +38 2365456987
				.d-flex.align-items-center.mb-3
					img(src="./images/common/email-icon.png", class="pr-2" alt="icon")
					a(href="mailto:hallo@celia.com").p.link-hover hallo@celia.com
				.d-flex.align-items-center
					img(src="./images/common/map-icon.png", class="pr-2" alt="icon")
					a(href="http://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003").p.link-hover on Google Map