// Footer nav
footer.footer-nav.pt-5.pb-5
  .container
    .row
      .col-xl-12
        .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-center
          .footer-nav__prev.mb-2.mb-sm-0
            a(href="./project-01.html").arrow.arrow--prev.link-animation.link-animation--reverse
              h3.link-animation__hidden.text-dark
                | Prev Project <i class="fa fa-chevron-left"></i>
              h3.link-animation__text.text-muted
                | Prev Project <i class="fa fa-chevron-left"></i>
          .footer-nav__next
            a(href="./project-02.html").arrow.arrow--next.link-animation
              h3.link-animation__hidden.text-dark
                | Next Project <i class="fa fa-chevron-right"></i>
              h3.link-animation__text.text-muted
                | Next Project <i class="fa fa-chevron-right"></i>