navigation.navigation
  .navigation-header.animated(data-scroll-animation="fadeInDown")
    a(href="./index.html").navigation-header__logo
      .logo
        img(src="./images/logo.svg", alt="logo")
    .navigation-header__burger
      .burger
        span
        span
        span

  .navigation-menu__overlay
  .navigation-menu
    .container
      .row.justify-content-center.align-items-center
        .col-md-6.col-xl-5.mb-5.mb-md-0
          ul.navigation-menu__list
            li.navigation-menu__list-item
              a(href="javascript:void(0)" class="navigation-menu__list-link") projects
              ul.navigation-menu__list-inner
                li
                  a(href="./project-01.html" class="navigation-menu__list-link") projects one
                li
                  a(href="./project-02.html" class="navigation-menu__list-link") projects two
            li.navigation-menu__list-item
              a(href="javascript:void(0)" class="navigation-menu__list-link") galery
              ul.navigation-menu__list-inner
                li
                  a(href="./gallery-slider.html" class="navigation-menu__list-link") gallery slider
                li
                  a(href="./gallery-album.html" class="navigation-menu__list-link") gallery album
            li.navigation-menu__list-item
              a(href="./about.html" class="navigation-menu__list-link") about
            li.navigation-menu__list-item
              a(href="javascript:void(0)" class="navigation-menu__list-link") articles
              ul.navigation-menu__list-inner
                li
                  a(href="./article-01.html" class="navigation-menu__list-link") article one
                li
                  a(href="./article-02.html" class="navigation-menu__list-link") article two
            li.navigation-menu__list-item
              a(href="./blog.html" class="navigation-menu__list-link") blog
            li.navigation-menu__list-item
              a(href="./contacts.html" class="navigation-menu__list-link") contacts

        .col-md-6.col-xl-5
          .navigation-menu__content
            p.mb-5 Trandy Shania Street 21 55555 <br/>Carmenito Stylish Porto, Portugal
            .social-icons.mb-5
              a(href="http://twitter.com").social-icon
                i(class="fa fa-twitter")
              a(href="http://facebook.com").social-icon
                i(class="fa fa-facebook")
              a(href="http://linkedin.com").social-icon
                i(class="fa fa-linkedin")
              a(href="http://instagram.com").social-icon
                i(class="fa fa-instagram")
            .d-flex.align-items-center.mb-3
              img(src="./images/common/phone-icon.png", class="pr-2" alt="icon")
              a(href="tel:+382365456987").p.link-hover +38 2365456987
            .d-flex.align-items-center.mb-3
              img(src="./images/common/email-icon.png", class="pr-2" alt="icon")
              a(href="mailto:hallo@celia.com").p.link-hover hallo@celia.com
            .d-flex.align-items-center
              img(src="./images/common/map-icon.png", class="pr-2" alt="icon")
              a(href="http://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003").p.link-hover on Google Map