extends layouts/main

block variables
  - var title = 'Project'

block content

  //- Page name
  .page-name.pt-xl-160.pb-4
    .container
      .row.justify-content-center.align-items-center
        .col-6.col-xl-5
          span.page-name__title.text-muted Project
        .col-6.col-xl-5
          .page-name__line

  //- Header
  header.pb-5
    .container
      //- Title
      .row.justify-content-center
        .col-xl-10
          h1.mb-4.animated-letters.animated-letters--lfr(data-scroll-animation="animated-letters--lfr-active") City. Groningens
      //- Content
      .row.justify-content-center
        .col-md-12.col-lg-6.col-xl-5
          p.p-header.mb-4.animated(data-scroll-animation="fadeInUp" data-scroll-animation-delay="0.2s") Photography is the art, application and practice of creating durable images by recording light or other electromagnetic radiation, either electron&shy;ically by means of an image sensor, or chemically by means of a light-sensitive material such as pho&shy;tographic film. It is employed in many fields of science.
          .d-flex.flex-wrap.flex-xl-column.justify-content-xl-start.justify-content-between.animated(data-scroll-animation="fadeInUp" data-scroll-animation-delay="0.4s")
            .mb-4.pr-2
              span.sup-title.mb-3 name
              h3 Black-and-white
            .mb-4.pr-2
              span.sup-title.mb-3 year
              h3 2020
            .mb-4.mb-md-0.pr-2
              span.sup-title.mb-3 city
              h3 Kyoto Prefecture
        .col-md-12.col-lg-6.col-xl-5
          .animated-image(data-scroll-animation="revealIn")
            img(src="./images/project/header-image.jpg", class="image pl-lg-4", alt="image")

  section.bg-dark.pt-5.pb-5(data-skin="dark")
    .container
      .row.justify-content-center
        .col-xl-10
          h2.mb-4.text-light <span class="h2-char text-muted">a.</span>Hercules Florence. A French painter
      .row.justify-content-center
        .col-lg-6.col-xl-5
          .pr-lg-4.mb-4
            p.text-light Several people may have coined the same new term from these roots independently. Hercules Florence, a French painter and inventor living in Campinas. <br><br>Brazil, used the French form of the word, photographie, in private notes which a Brazilian historian believes were written in 1834.
        .col-lg-6.col-xl-5
          .pl-lg-4.mb-4
            p.text-light The German newspaper Vossische Zeitung of 25 Febru&shy;ary 1839 contained an article entitled Photographie, discussing several priority claims – especially Henry Fox Talbot's – regarding Daguerre's claim of invention. The article is the earliest known occurrence of the word in public print. It was signed "J.M.", believed to have been Berlin astronomer Johann von Maedler.
      .row.justify-content-center.align-items-center
        .col-6.col-xl-5
            img(src="./images/project/preview-img-1.jpg", class="image pr-lg-4", alt="image")
        .col-6.col-xl-5
            img(src="./images/project/preview-img-2.jpg", class="image pl-lg-4", alt="image")

  section.image-half.image-half--right.mt-5
    .image-half__wrapper.mb-4.mb-xl-0.animated-image(data-scroll-animation="revealIn")
      figure(class="image--figure" style="background-image:url(./images/project/preview-img-3.jpg)")
    .container
      .row
        .col-12.col-xl-5.offset-xl-1
          h2.mb-4 <span class="h2-char text-muted">b.</span>Precursor. Technologies
          .pb-5.pr-xl-5.pb-xl-120
            p.mb-3 Photography is the result of combining several technical discoveries, relating to seeing an image and capturing the image. The discovery of the camera obscura ("dark chamber" in Latin) that provides an image of a scene dates back to ancient China. Greek mathematicians Aristotle and Euclid independently described a pinhole camera in the 5th and 4th centuries.
            p Leonardo da Vinci mentions natural camera obscura that are formed by dark caves on the edge of a sunlit valley. A hole in the cave wall will act as a pinhole camera and project a laterally reversed, upside down image on a piece of paper. Renaissance painters used the camera obscura which, in fact, gives the optical rendering in color that dominates Western Art. It is a box with a hole in it which allows light to go through and create an image onto the piece of paper.

  section.bg-dark.image-half(data-skin="dark")
    .image-half__wrapper.animated-image(data-scroll-animation="revealIn")
      figure(class="image--figure" style="background-image:url(./images/project/preview-img-4.jpg)")
    .container
      .row
        .col-12.col-xl-5.offset-xl-6
          .mt-4.mt-xl-5.pl-xl-4
            h2.mb-4.text-light <span class="h2-char text-muted">b.</span>Invention
            p.mb-4.text-light The first permanent photoetching was an image produced in 1822 by the French inventor Nicéphore Niépce, but it was destroyed in a later attempt to make prints from it. Niépce was successful again in 1825. In 1826 or 1827, he made the View from the Window at Le Gras, the earliest surviving photograph from nature, of the image of a real-world scene, as formed in a camera obscura by a lens. Because Niépce's camera photographs required an extremely long exposure.
            .mb-4
              span.sup-title.text-light.mb-3 In Brazil
              h3.text-light Hercules Florence
            .mb-5
              span.sup-title.text-light.mb-3 later naming
              h3.text-light Photographie

  .video-banner(style="background-image: url('./images/video/video-bg.jpg')" data-skin="dark")
    .container
      .row
        .col-12
          .video-banner__button.d-flex.justify-content-center
            a(href="https://www.youtube.com/watch?v=6v2L2UGZJAM" class="button popup-youtube") See now

  include ./modules/top-arrow
  include ./sections/footer-nav.pug